#dickDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400px;
    width: 400px;
  }
  
  #dickImage {
    animation: melt 3s ease-in-out infinite alternate;
    max-height: 90%;
  }
  
  @keyframes melt {
    0% {
      transform: scale(1.02);
    }
    70% {
      transform: scale(1.204);
    }
    100% {
      transform: scale(1.102);
    }
  }
  